<section class="catalog">
  <div class="container catalog__container">
    <a href="lot.html" class="catalog__item">
      <img src="@img/pictures/complex.jpg" alt="Изображение" class="catalog__item-img" />
      <div class="catalog__item-body">
        <h3 class="title title-3 catalog__item-title">РАСПРЕДЕЛИТЕЛЬНЫЙ ЦЕНТР</h3>
        <svg class="catalog__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </a>
    <a href="#" class="catalog__item">
      <img src="@img/pictures/complex.jpg" alt="Изображение" class="catalog__item-img" />
      <div class="catalog__item-body">
        <h3 class="title title-3 catalog__item-title">РАСПРЕДfweewfe wfef ewf wfefew efew ewfe ЕЛИТЕЛЬНЫЙ ЦЕНТР</h3>
        <svg class="catalog__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </a>
    <a href="#" class="catalog__item">
      <img src="@img/pictures/complex.jpg" alt="Изображение" class="catalog__item-img" />
      <div class="catalog__item-body">
        <h3 class="title title-3 catalog__item-title">РАСПРЕДЕЛИТЕЛЬНЫЙ ЦЕНТР</h3>
        <svg class="catalog__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </a>
    <a href="#" class="catalog__item">
      <img src="@img/pictures/complex.jpg" alt="Изображение" class="catalog__item-img" />
      <div class="catalog__item-body">
        <h3 class="title title-3 catalog__item-title">РАСПРЕДЕЛИТЕЛЬНЫЙ ЦЕНТР</h3>
        <svg class="catalog__item-icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </a>
  </div>
</section>
