<section class="connection" id="contacts">
  <div class="container">
    <div class="connection__body">
      <h3 class="title title-3 connection__title">Остались вопросы? Свяжитесь с нами</h3>
      <div class="connection__info">
        <a href="tel:+79211701888" class="connection__tel">
          <svg class="connection__tel-icon">
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          +7 (921) 170-18-88
        </a>
        <p class="connection__content">
          <span>Александр Поленков</span>, руководитель направления «Бизнес» АНО «Агентство развития Мончегорска»
        </p>
      </div>
    </div>
  </div>
</section>
