<section class="descr-project">
  <div class="container">
    <h2 class="title title-3 text-green descr-project__title"><span>Описание проекта</span></h2>
    <div class="descr-project__wrapper">
      <div class="descr-project__info-left">
        <ul class="list descr-project__list">
          <li class="descr-project__list-item">
            <div class="descr-project__list-parent-icon">
              <img src="@img/icons/map.svg" alt="Локация" class="descr-project__list-icon" />
            </div>
            <div class="descr-project__info">
              <div class="descr-project__info-item">
                <h4 class="title title-4 descr-project__info-title">Территироия размещения:</h4>
                <p class="descr-project__info-content descr-project__text">
                  Мурманская область, город Мончегорск
                </p>
              </div>
              <div class="descr-project__info-item">
                <h4 class="title title-4 descr-project__info-title">Окружение</h4>
                <p class="descr-project__info-content descr-project__text">ул. Кольская</p>
              </div>
              <div class="descr-project__info-item">
                <ul class="list descr-project__info-row">
                  <li class="descr-project__text">
                    <span>109</span> квартир
                  </li>
                  <li class="descr-project__text">
                    от <span>5</span> до <span>7</span> этажей
                  </li>
                  <li class="descr-project__text">
                    <span>3</span> подъезда
                  </li>
                  <li class="descr-project__text">
                    квартиры от <span>40</span> до <span>73</span> кв.м
                  </li>
                  <li class="descr-project__text">
                    <span>124</span> кв.м пентхаусы
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="descr-project__list-item">
            <div class="descr-project__list-parent-icon">
              <img src="@img/icons/wallet.svg" alt="Локация" class="descr-project__list-icon" />
            </div>
            <div class="descr-project__info">
              <div class="descr-project__info-item">
                <h4 class="title title-4 descr-project__info-title">
                  Центр доходности на территории:
                </h4>
                <p class="descr-project__info-content descr-project__text">
                  Продажа изготовленной продукции.
                </p>
              </div>
              <div class="descr-project__info-item">
                <h4 class="title title-4 descr-project__info-title">Направления услуг:</h4>
                <p class="descr-project__info-content descr-project__text">
                  Услуги по изготовлению и продаже трубных заготовок: металлических и
                  полипропиленовых.
                </p>
              </div>
              <div class="descr-project__info-item">
                <h4 class="title title-4 descr-project__info-title">Направления услуг:</h4>
                <ul class="list descr-project__info-list">
                  <li class="descr-project__info-list-item descr-project__text">
                    Услуги по ПЭТ-переработке;
                  </li>
                  <li class="descr-project__info-list-item descr-project__text">
                    Услуги по продаже товаров из переработанного пластика.
                    <ul class="list descr-project__info-sublist">
                      <li class="descr-project__info-sublist-item">комната отдыха (30 кв.м.), </li>
                      <li class="descr-project__info-sublist-item">комната приема пищи (70 кв.м.),</li>
                      <li class="descr-project__info-sublist-item">туалеты (4 по нормативу - 10 кв.м. каждый), </li>
                      <li class="descr-project__info-sublist-item">комната охраны (50 кв.м.), </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <div class="descr-project__info-points">
          <h4 class="title title-4 descr-project__info-title">Направления услуг:</h4>
          <ul class="list descr-project__info-list">
            <li class="descr-project__info-list-item descr-project__text">
              Услуги по ПЭТ-переработке;
            </li>
            <li class="descr-project__info-list-item descr-project__text">
              Услуги по продаже товаров из переработанного пластика.
            </li>
          </ul>
        </div>
        <p class="descr-project__text">
          В составе центра — <span>цех площадью порядка 600 кв. м,</span> который включает:
          станочный парк — основные металлообрабатывающие станки, покрасочную камеры, склад
          запчастей. На территории будет располагаться стоянка для техники и автомобилей.
        </p>
      </div>
      <img src="@img/pictures/map.jpg" alt="Карта" class="descr-project__img" />
    </div>
    <div class="descr-project__items">
      <div class="descr-project__item">
        <img src="@img/pictures/tape.jpg" alt="Лента" class="descr-project__item-img" />
        <div class="descr-project__item-info">
          <div class="descr-project__item-info-block">
            <h3 class="title title-3">Особенности проекта</h3>
            <p class="descr-project__text">
              Концепция нового городского гипермаркета — самый
              <span>большой выбор, лучшие цены, лучшая продукция местных поставщиков.</span>
            </p>
            <ul class="list descr-project__info-list">
              <li class="descr-project__info-list-item descr-project__text">
                Проект имеет только одного конкурента в формате гипермаркета в Мончегорске - «Магнит
                Семейный»;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Является сетевым магазином с типовой эффективной системой управления (персоналом,
                складом, товарными запасами, мерчендайзингом и др.);
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                В Гипермаркете предусмотрена программа лояльности для постоянных покупателей, а
                также для граждан льготных категорий, в т.ч пенсионеров.
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Проект имеет только одного конкурента в формате гипермаркета в Мончегорске - «Магнит
                Семейный»;
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="descr-project__item">
        <img src="@img/pictures/indicators.jpg" alt="Лента" class="descr-project__item-img" />
        <div class="descr-project__item-info">
          <div class="descr-project__item-info-block">
            <h3 class="title title-3">Цели проекта</h3>
            <ul class="list descr-project__info-list">
              <li class="descr-project__info-list-item descr-project__text">
                Обеспечение спроса на переработанный пластик для последующего производства;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Обеспечение спроса на утилизацию отходов предприятий;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Повышение экологической грамотности населения;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Создание новых рабочих мест в регионе.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="descr-project__item">
        <img src="@img/pictures/tape.jpg" alt="Лента" class="descr-project__item-img" />
        <div class="descr-project__item-info">
          <div class="descr-project__item-info-block">
            <h3 class="title title-3">Целевая аудитория</h3>
            <ul class="list descr-project__info-list">
              <li class="descr-project__info-list-item descr-project__text">
                Жители города Мончегорск и ближайших населенных пунктов, заинтересованные в улучшении экологической ситуации в регионе;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Пенсионеры и военные пенсионеры, желающие купить квартиру на льготных условиях;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Промышленные предприятия региона.
              </li>
            </ul>
          </div>
          <div class="descr-project__item-info-block">
            <h3 class="title title-3">Особенности проекта</h3>
            <ul class="list descr-project__info-list">
              <li class="descr-project__info-list-item descr-project__text">
                Проект не имеет конкурентов по масштабу и специализации в городе Мончегорск;
              </li>
              <li class="descr-project__info-list-item descr-project__text">
                Проект предполагает переработку пластика для последующей продажи.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
