<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__item">
        <span class="footer__item-title">Организатор</span>
        <a href="#" class="footer__item-btn">Агентство развития Мончегорска</a>
      </div>
      <div class="footer__item">
        <span class="footer__item-title">Направление</span>
        <a href="#" class="footer__item-btn">Бизнес</a>
      </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__bottom-content">© Агентство развития Мончегорска, 2023</p>
        <p class="footer__bottom-content">Политика конфиденциальности</p>
    </div>
  </div>
</footer>
