<header class="header">
  <div class="container header__container">
    <a href="index.html" class="header__logo">
      <img src="@img/logos/logo.svg" alt="Логотип" class="header__logo-img" />
    </a>
    <nav class="header__nav" id="nav-burger">
      <ul class="list header__nav-list">
        <li>
          <a href="category.html">Инвестлоты</a>
        </li>
        <li>
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
      <a href="#contact-details" class="btn-primary header__btn-app">Оставить заявку</a>
    </nav>
    <button class="btn header__btn-burger" id="btn-burger">
      <span class="header__btn-burger-line"></span>
      <span class="header__btn-burger-line"></span>
      <span class="header__btn-burger-line"></span>
    </button>
  </div>
</header>
