<section class="hero-lot">
  <div class="container">
    <img src="@img/figures/cross.svg" class="hero-lot__icon hero-lot__icon--cross">
    <ul class="list breadcrumbs hero-lot__breadcrumbs">
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="#">Крупные инвестолы</a>
      </li>
    </ul>
    <h1 class="title title-2 text-green hero-lot__title"><span>@@title</span></h1>
    <div class="hero-lot__slider-wrapper">
      <div class="swiper hero-lot__slider">
        <img data-da=".hero-lot, 743" src="@img/figures/circle-stroke.svg" class="hero-lot__icon hero-lot__icon--circle">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/pictures/hangar.jpg" alt="Ангар" class="hero-lot__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/pictures/hangar.jpg" alt="Ангар" class="hero-lot__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/pictures/hangar.jpg" alt="Ангар" class="hero-lot__slide-img" />
          </div>
        </div>
        <button class="btn hero-lot__slider-btn hero-lot__slider-btn--prev">
          <svg class="hero-lot__slider-btn-icon">
            <use xlink:href='img/icons/icons.svg#icon-arrow-noline'></use>
          </svg>
        </button>
        <button class="btn hero-lot__slider-btn hero-lot__slider-btn--next">
          <svg class="hero-lot__slider-btn-icon">
            <use xlink:href='img/icons/icons.svg#icon-arrow-noline'></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero-lot__slider-pagination"></div>
  </div>
</section>
