<section class="hero">
  <div class="container">
    <img src="@img/pictures/hero.jpg" alt="Изображение" class="hero__img">
    <img src="@img/figures/circles.svg" class="hero__icon hero__icon--circles">
    <img src="@img/figures/plus.svg" class="hero__icon hero__icon--plus">
    <img src="@img/figures/circle.svg" class="hero__icon hero__icon--circle">
    <img src="@img/figures/oval.svg" class="hero__icon hero__icon--oval">
    <img src="@img/figures/triangles.svg" class="hero__icon hero__icon--triangles">
    <h1 class="title title-1 text-white hero__title">
      <!-- <span>Портфель</span> <span>инвестиционных</span> <span>проектов Мончегорска</span> -->
      <span>Портфель <br> инвестиционных <br> проектов Мончегорска</span>
    </h1>
    <button class="btn btn-primary hero__btn">Инвестируй в мончегорске</button>
  </div>
</section>