<section class="hero-category">
  <div class="container">
    <img src="@img/figures/oval.svg" class="hero-category__icon hero-category__icon--oval">
    <img src="@img/figures/circle-thin.svg" class="hero-category__icon hero-category__icon--circle">
    <img src="@img/figures/wave-triangles.png" class="hero-category__icon hero-category__icon--wave">
    <img src="@img/pictures/inveslots.jpg" alt="Изображение" class="hero-category__img" />
    <ul class="list breadcrumbs hero-category__breadcrumbs">
      <li>
        <a href="#index.html">Главная</a>
      </li>
      <li>
        <a>Крупные инвестолы</a>
      </li>
    </ul>
    <h1 class="title title-1 text-white hero-category__title"><span>Крупные инвестлоты</span></h1>
  </div>
</section>
