<section class="indicators">
  <div class="container">
    <h2 class="title title-3 text-green indicators__title">
      <span>КЛЮЧЕВЫЕ ИНВЕСТИЦИОННЫЕ ПОКАЗАТЕЛИ</span>
    </h2>
    <div class="indicators__wrapper">
      <table class="indicators__table">
        <tbody class="indicators__table-body">
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4"><span>Объём инвестиций</span></td>
            <td class="indicators__table-item">1 189 232 000 руб.</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">Срок окупаемости проекта</td>
            <td class="indicators__table-item">6,08 лет</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">Дисконтированный срок окупаемости</td>
            <td class="indicators__table-item">9,75 лет</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">Прибыль среднем в месяц</td>
            <td class="indicators__table-item">8 622 247 руб.</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">Рентабельность</td>
            <td class="indicators__table-item">45,63%</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">IRR</td>
            <td class="indicators__table-item">16,64%</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">NPV</td>
            <td class="indicators__table-item">19 209 000</td>
          </tr>
          <tr class="indicators__table-row">
            <td class="indicators__table-item title title-4">Ставка дисконтирования</td>
            <td class="indicators__table-item">20%</td>
          </tr>
        </tbody>
      </table>
      <img src="@img/pictures/indicators.jpg" alt="Изображение" class="indicators__img" />
    </div>
    <p class="indicators__content">
      <span>Чистая приведённая стоимость (NPV)</span> проекта и <span
        >срок окупаемости проекта</span
      >
      находятся <span>в пределах положительных значений</span> по уже реализованным проектам
      со схожим набором услуг в других северных регионах. Горизонт планирования — 10 лет.
    </p>
    <img src="@img/pictures/diagram.jpg" alt="График" class="indicators__diagram" />
    <p class="indicators__subcontent">
      График <span>«Простой и дисконтированный периоды окупаемости проекта»</span> <br />
      Капитальные затраты: 431 511 850 руб. <br />
      Расходы проекта в среднем в год (прямые затраты и операционные затраты): 13 103 600 руб.
    </p>
    <a href="@img/pictures/diagram.jpg" download class="btn-primary indicators__btn">Скачать презентацию</a>
  </div>
</section>
