<section class="program-support">
  <img src="@img/figures/rhomb.svg" class="program-support__icon">
  <div class="container">
    <div class="program-support__header">
      <h4 class="title title-4 program-support__title">
        ПРОГРАММА ПОДДЕРЖКИ ИНВЕСТИЦИОННЫХ ПРОЕКТОВ В МОНЧЕГОРСКЕ
      </h4>
      <a href="#" class="btn-primary program-support__btn">АРКТИЧЕСКИЙ ИНВЕСТОР</a>
    </div>
  </div>
  <div class="program-support__body">
    <div class="container">
      <div class="program-support__body-wrapper">
        <div class="program-support__card">
          <img
            src="@img/pictures/inveslots.jpg"
            alt="Изображение"
            class="program-support__card-img"
          />
          <h3 class="title title-3 program-support__card-title">КРУПНЫЕ ИНВЕСТЛОТЫ</h3>
          <a href="#" class="btn-primary program-support__card-btn">Подробнее</a>
        </div>
        <div class="program-support__card">
          <img
            src="@img/pictures/inveslots.jpg"
            alt="Изображение"
            class="program-support__card-img"
          />
          <h3 class="title title-3 program-support__card-title">КРУПНЫЕ ИНВЕСТЛОТЫ</h3>
          <a href="#" class="btn-primary program-support__card-btn">Подробнее</a>
        </div>
        <div class="program-support__card">
          <img
            src="@img/pictures/inveslots.jpg"
            alt="Изображение"
            class="program-support__card-img"
          />
          <h3 class="title title-3 program-support__card-title">КРУПНЫЕ ИНВЕСТЛОТЫ</h3>
          <a href="#" class="btn-primary program-support__card-btn">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
